<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>691178619755-mqflvefvkdd13667bt698m36s3u06bj2.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.691178619755-mqflvefvkdd13667bt698m36s3u06bj2</string>
    <key>API_KEY</key>
    <string>AIzaSyBPv7uv1ngCLt3hvL7gae_nqnj_tqKBGCA</string>
    <key>GCM_SENDER_ID</key>
    <string>691178619755</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.meet.FirebaseAnalytics</string>
    <key>PROJECT_ID</key>
    <string>fir-analytics-2014b</string>
    <key>STORAGE_BUCKET</key>
    <string>fir-analytics-2014b.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:691178619755:ios:882b383a5fe72dd6e2c22e</string>
</dict>
</plist>
